.Home {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* background-color: lightblue */
}

.topSideHome {
    width: 70%;
}

.PunchLine {
    font-size: 2rem;
    padding: 2rem;
    color: white;
    /* border: .5px solid var(--acYellow); */
    border-radius: 15px;
    box-shadow: -10px 5px 30px var(--acYellow);

}

.DiffBloc {
    width: 100%;
    text-align: start;
    font-size: 1.5rem;
    color: white;
}

.DiffBlocColor {
    color: #FEA500;
    margin-left: .5rem;
}




.BlueBand {
    width: 100%;
    background-color: #5F9CBB;
    height: 12rem;
    font-size: 3rem;
    font-weight: 500;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;
    color: black;
}



.CapName,
.EndName {
    text-transform: uppercase;
    color: black;
}

.EndName {
    margin-right: 1rem;
    color: var(--acYellow)
}

.BlueBandLastWord {
    margin-left: 1rem;
    color: white;
}

/* .BlueBand p {
    display: flex;
    flex-direction: row;
    vertical-align: middle;
} */

@media (max-width : 850px) {

    .PunchLine {
        font-size: 1rem;
        padding: 1rem;
    }
}