@mixin circle-styles($size, $background-color, $top: 0, $left: 0) {
    width: $size;
    height: $size;
    background-color: $background-color;
    border-radius: 50%;
    position: absolute;
    top: $top;
    left: $left;
}



.SeoCPF {
    color: white;
    width: 100%;
    position: relative;
    font-size: 3vw;

    .container-img {
        width: 100%;
        position: absolute;
        top: -1rem;
        z-index: 0;

        img {
            width: 100%;
        }
    }

    h1 {
        font-size: 10vw;
        text-align: start;
        margin: 0 0 0 1rem;
        position: relative;
        z-index: 5;
    }

    h2 {
        margin: 2vw 0;
    }

    .timeline {
        display: flex;
        flex-direction: column;

        .withMovieAndLogo {
            display: flex;
            flex-direction: column;
            align-items: center;

            .movie {
                width: 50vw;
                height: 50vw;
            }
        }
    }

    article {
        margin: 0 1rem;
    }

    .articleCertif-pic {
        width: 100%;
        display: flex;
        justify-content: space-evenly;
        margin-top: 1rem;

        img {
            width: 25%
        }
    }

    .questions {
        display: flex;
        flex-direction: column;
        align-items: center;

        h2,
        p {
            margin: 0 5vw;
        }

        .clique {
            width: 75%;

            p {
                margin-top: 2vw;
                font-size: 5vw;
            }
        }

        .questions-container {
            .question {
                width: 90%;
            }
        }
    }

    .light-pic {
        display: none;
    }

    .fireworks {
        display: flex;

        .circleInFire {
            display: flex;
            flex-direction: column;
            position: relative;
            margin-top: 2rem;

            img {
                width: 20vw;
            }

            // margin-bottom: 20vw;

            .yellowCircle {
                position: relative !important;
                @include circle-styles(25vw, var(--acYellow), 0, 50%);
                transform: translate(-50%)
            }

            .whiteCircle {
                // position: relative !important;
                @include circle-styles(10vw, white, 85%, 50vw);
                // transform: translate(-50%)
            }
        }
    }

    .Review,
    .withoutTitle {
        margin-top: 5vw;
    }

    .right-container {
        margin-left: 12vw;
        text-align: start;
        position: relative;

        &::before {
            content: "";
            width: 10vw;
            height: 10vw;
            border-radius: 50%;
            background-color: var(--acYellow);
            position: absolute;
            left: -11vw;
            z-index: 15;
        }

        &::after {
            content: "";
            width: 1vw;
            height: calc(100% - 1vw);
            background-color: var(--acYellow);
            position: absolute;
            left: -6.5vw;
            top: 1vw;
            z-index: 15;
        }

        .litleWhiteDot {
            z-index: 15;
            @include circle-styles(5vw, white, 5vw, -5vw)
        }

        &-downDot {
            margin-left: 12vw;
            position: relative;
            margin-top: 5vw;

            .downDot {
                p {
                    margin-top: 0;
                }
            }

            &::before {
                content: "";
                width: 10vw;
                height: 10vw;
                border-radius: 50%;
                background-color: var(--acYellow);
                position: absolute;
                left: -11vw;
                bottom: 0%;
                z-index: 15;
            }

            &::after {
                content: "";
                width: 1vw;
                height: calc(100% - 1vw);
                background-color: var(--acYellow);
                position: absolute;
                left: -6.5vw;
                top: 1vw;
                z-index: 15;
            }
        }

        .DownYellowDot {
            &::before {
                content: "";
                width: 10vw;
                height: 10vw;
                border-radius: 50%;
                background-color: var(--acYellow);
                position: absolute;
                left: -11vw;
                bottom: 0%;
                z-index: 15;
            }
        }
    }
}

@media screen and (min-width: 760px) {
    .SeoCPF {
        font-size: 2.5vw;

        &-article {
            text-align: start;

            p {
                margin-bottom: 0;
                margin-top: 0;
            }
        }

        .right-container {

            .TextMovieLogo {
                display: flex;

                .withMovieAndLogo {
                    padding-right: 2vw;

                    .movie {
                        width: 25vw;
                        height: 25vw;
                    }

                }

                p {
                    margin: 0;
                }
            }

            &::after {
                width: .51vw;
                left: -6vw;
            }

            &-downDot {
                &::after {
                    width: .51vw;
                    left: -6vw;
                }

            }
        }

        .articleCertif-container-text {
            p {
                margin: 0;
            }
        }

        .articleCertif-pic {
            flex-direction: column;
            align-items: flex-end;
        }

        .simpleCont-leftPic {
            flex-direction: row-reverse;

            .text {
                text-align: start;
            }

            .circleDotCont {
                display: flex;
                align-items: flex-end;
            }
        }

        .downDot {
            p {
                text-align: start;
            }
        }

        .light {
            flex-direction: row;

            &-text {
                h2 {
                    font-size: 3vw;
                    margin-top: 0
                }

                p {
                    font-size: 2vw;
                    text-align: start;
                    // margin: 0;

                }
            }

            .light-pic {
                display: initial;
                margin-left: 1rem;

                img {

                    width: 25vw;
                }
            }
        }

        .fireworks {
            flex-direction: row-reverse;
            position: relative;

            .circleInFire {
                width: 10%;

                img {
                    width: 100%;

                }

                .yellowCircle {
                    width: 10vw;
                    height: 10vw;
                }

                justify-content: flex-end;

                .whiteCircle {
                    width: 5vw;
                    height: 5vw;
                    position: absolute;
                    right: 0;
                    top: 93%;
                    left: initial;
                }
            }

            .text {
                font-size: 2vw;
                text-align: start;
            }

            .circleDotCont {
                padding-right: 2vw;

                .videoContainerV2 {
                    top: -2vw;
                    // right: 0;

                    .movie {
                        width: 8vw;
                        height: 8vw;
                    }

                    // display: none;
                }

                .allTextV2 {
                    .mainTextV2 {
                        width: 15vw;
                        height: 15vw;
                        margin-right: 4vw;

                        p {
                            font-size: 2.5vw;
                            // text-align: center;
                        }
                    }

                    .circleDotV2 {
                        top: -3vw;
                        right: -.25vw;

                        img {
                            width: 25vw;
                            height: 25vw;

                        }
                    }
                }
            }
        }

        .questions {
            .clique {
                p {
                    font-size: 3vw;
                    margin-left: 1.5vw;
                    margin-top: 1vw;
                }
            }
        }
    }

}

@media screen and (min-width: 1024px) {
    .SeoCPF {
        font-size: 1.5rem;

        h1 {
            font-size: 7rem;
            margin-bottom: 7rem;
        }

        article {
            margin: 0 7rem;
            position: relative;
        }

        .right-container {
            .TextMovieLogo {
                .withMovieAndLogo {

                    .movie {
                        width: 15vw;
                        height: 15vw;
                    }
                }
            }

            &::before {
                width: 8vw;
                height: 8vw;
                left: -10vw;
                // left: 5px;
            }

            .litleWhiteDot {
                width: 4vw;
                height: 4vw;
                top: 5vw;
            }

            &::after {
                width: .25vw;
                left: -6vw;
            }

            .DownYellowDot {
                &::before {
                    width: 8vw;
                    height: 8vw;
                    left: -10vw;
                    // border-radius: 50%;
                    // background-color: var(--acYellow);
                    // position: absolute;
                    // bottom: 0%;
                    // z-index: 15;
                }
            }

            &-downDot {

                &::before {
                    width: 8vw;
                    height: 8vw;
                    left: -10vw;
                }

                &::after {
                    width: 0.25vw;
                    left: -6vw;
                }

                .downDot {
                    p {
                        margin-bottom: 0;
                    }
                }
            }

            &.withoutTitle {
                p {
                    margin-top: 0;
                    margin-bottom: 0;
                }
            }
        }

        .simpleCont-leftPic {
            .text {
                padding-left: 2rem;
                display: flex;
                flex-direction: column;
                align-items: center;

                // width: 75%;
                h2,
                p {
                    width: 75%;
                }
            }

            .circleDotCont {
                padding: 0;
                justify-content: space-around;

                .allTextV2 {
                    .mainTextV2 {
                        width: 250px;
                        height: 250px;

                        p {
                            font-size: 2rem;
                        }
                    }

                    .circleDotV2 {
                        top: -50px;

                        img {
                            width: 400px;
                            height: 400px;
                        }
                    }
                }

                .videoContainerV2 {
                    align-self: flex-start;
                    top: 0;
                    right: -100px;

                    .movie {
                        width: 125px;
                        height: 125px;
                    }
                }
            }
        }

        .light {
            h2 {
                text-align: start
            }
        }

        .circleDotCont {
            align-self: center;
        }
    }
}