.Coaching {
    width: 100%;
    color: white;


    &-article {
        padding: 0 1rem;

        p {
            text-align: start;

        }

        .center {
            text-align: center;

            &.noMargin {
                margin: 0;
            }
        }

        &-title {
            color: var(--acYellow);
            font-size: 1.1rem;
            line-height: 1.5rem;
        }

        &_bgWhite {
            background-color: white;
            padding: 1rem 0;
        }
    }

    ul {
        padding: 0;

        li {
            text-align: start;
            list-style-position: inside;
        }
    }
}

@media (min-width: 760px) {
    .Coaching {
        &-article {
            padding: 0 5rem;

        }
    }
}