.KeyNumber {
    display: flex;
    justify-content: space-evenly;
    padding: 0;
    width: 100%;
    /* margin-bottom: 2rem; */
}

.KeyNumber li {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.AcNumber {
    font-weight: bold;
    font-size: 4rem;
    color: var(--acYellow);
    font-size: 3rem;
}

.AcText {
    font-weight: bold;
    font-size: .7rem;
    width: 100%;
    color: var(--acWhite);
    font-size: 1.5rem;

}

/* @media (max-width : 1024) {} */

@media (max-width : 769px) {
    .AcNumber {
        font-size: 2rem;
    }

    .AcText {
        font-size: 1rem;
        font-size: 1rem;
    }
}

@media (max-width: 500px) {
    .KeyNumber {
        flex-direction: column;

    }

    .AcNumber {
        /* padding: 1.5rem 0; */
    }

    .AcText {

        color: var(--acWhite);
    }
}