/* .NavBar .menuDetail::before {
    content: '';
    display: flex;
    flex-direction: row;
    right: 20px;
    height: 500px;
    top: -5px;
    position: absolute;
} */
.menuDetail {
    position: absolute;
    left: 0;
    display: flex;
    flex-direction: column;
    z-index: 10;
    /* background-color: red; */
    background-color: var(--acWhite);
    top: 100%;
    width: 100%;
    /* padding: 1rem; */
    list-style-type: none;
    padding: unset;
    border-radius: 0 0 10px 10px;
}

.menuDetail li {
    padding: 1rem 0;
}

.menuDetail li:hover {
    background-color: var(--acYellow);
}

.menuDetail li:last-child {
    border-radius: 0 0 10px 10px;

}

.NavBar {
    width: 100%;
    background-color: var(--acWhite);
    height: 15%;
    display: flex;
    align-items: center;
    position: relative;
}

.allNavMainItems {
    padding: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 100%;
    list-style-type: none;
    font-size: 1rem;
}

.NavBar ul li {
    width: 100%;
    cursor: pointer;
}

.NavBar ul li div {
    color: var(--acDarkBlue);
    font-weight: 500;
}


.NavLink a,
.NavLink div {
    color: var(--acDarkBlue);
    font-weight: 500;
    /* margin: 0 2rem; */
    cursor: pointer;
    /* border: unset; */

}

.NavLink {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    padding: unset;
}

.NavLink:hover {
    background-color: var(--acYellow);
}

.NavLink div {
    position: relative;
    top: 0;
}

@media (max-width: 650px) {

    .NavBar {
        height: 25%;
    }

    .NavBar ul {
        font-size: .5rem;
    }
}