nav {
    position: relative;
    z-index: 20;
    top: 0;
    width: 100%;
    background: linear-gradient(45deg, var(--acYellow), var(--acDarkBlue))
}

.list {
    list-style-type: none;
    background: linear-gradient(45deg, var(--acYellow), var(--acDarkBlue));
    height: 100%;
    display: flex;
    justify-content: space-around;
    position: relative;
    margin: 0;
    align-items: center;
}

.items {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: .9rem;
    padding: 1rem;
    text-transform: uppercase;
    color: #fff;
    cursor: pointer;
    font-weight: bold;
    position: relative;
    text-decoration: none;
}



.sub-list {
    list-style-type: none;
    position: absolute;
    display: flex;
    flex-direction: column;
    top: 100%;
    width: 150%;
    // left: 0;
    background: linear-gradient(45deg, var(--acYellow), var(--acDarkBlue));
    padding: 0 0 1rem 0;
    font-size: .8rem;
    line-height: 2rem;
    border-radius: 0 0 15px 15px;


    .sous-menu {
        list-style-type: none;
        padding: 0;
        background: linear-gradient(45deg, var(--acYellow), var(--acDarkBlue));
        position: absolute;
        right: 100%;
        width: 50%;
        top: 0;
        // border-radius: 15px 0 0 15px;


        li a {
            color: white;
        }
    }

    li {
        padding: 0 .25rem;
        border-top: dashed 1px white;
        position: relative;

        a {
            font-size: .8rem;
            color: white;
            text-decoration: none;

        }
    }
}


.sub-list li:hover {
    background-color: var(--acDarkBlue);
    border: 1px solid white;
}

.sub-list a:nth-child(1) {
    border-top: none;
}

.sub-list a {
    border-top: 1px solid#fff;
}




.btn {
    display: none;
    position: absolute;
    right: 10px;
    top: 7px;
    padding: 5px;
    background-color: transparent;
    border: none;
    font-size: 18px;
}

@media screen and (max-width:1024px) {
    nav {
        background: transparent
    }

    nav .list {
        margin: 0;
        padding: 0;
    }

    .items {
        font-size: .75rem;
    }

    .sub-list {
        li a {
            font-size: .75rem;

        }

    }
}

// @media screen and (max-width:769px) {
//     nav {
//         height: 70px;
//     }

//     nav .list {
//         margin: 0;
//         padding: 0;

//         li {
//             font-size: .5rem;
//         }
//     }

//     .items {
//         font-size: .5rem;
//     }

//     .sub-list {
//         top: 100%;
//         width: 150%;
//         left: initial;
//         font-size: .45rem;
//         padding: 0 .2rem;

//         .sous-menu {
//             position: absolute;
//             right: 100%;
//         }
//     }

//     .sub-list a:hover {
//         background-color: var(--acDarkBlue);
//     }

//     .sub-list a:last-child:hover {
//         border-radius: 0 0 15px 15px;
//     }

// }

@media screen and (max-width:1024px) {
    nav {
        height: 50px;
        background: white;
    }

    .googleMobile {
        display: block;

        &.isActive {
            display: none;
        }
    }

    .list {
        flex-direction: column;
        height: auto;
        padding: 0;
        margin: 0;
        z-index: 2;
    }

    .items:nth-child(1) {
        border-top: none;
    }

    .items {
        width: 100%;
        border-top: 1px solid#fff;
        text-align: center;
        margin-right: 0px;
        padding: 1rem 0;
        display: flex;
        flex-direction: column;
    }

    .list ul {
        list-style-type: none;
        line-height: 2.5rem;
        padding: 0;
    }

    .btn {
        display: block;
        z-index: 3;
    }

    .iconMenu {
        display: none;
    }

    .iconMenu.isActive {
        fill: var(--acDarkBlue);
        display: block;
        font-size: 2rem;


    }

    .closeIconMenu {
        display: block;
        font-size: 2rem;
        fill: var(--acWhite);


    }


    .sub-list {
        position: relative;
        background: transparent;

        .sous-menu {
            position: relative;
            right: 0;
            width: 100%;
            border-radius: 0 0 0 0;
        }
    }

    .sub-list a {
        border-top: none;
    }

    .sub-list a:last-child:hover {
        border-radius: 0 0 0 0;
    }

    .sub-list li {
        font-size: .7rem;
        padding: 0;
    }
}