.Carrousel {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    &-container {
        width: 100%;

        p {
            color: white;
            font-weight: bold;
        }

        img {
            width: 100%;
            border-radius: 15px;
        }

        .image-container {
            display: flex;
            height: 450px;
            justify-content: space-between;

            .image {
                height: 100%;
                width: 100%;

                img {
                    object-fit: cover;
                    height: 100%;
                }
            }

            .arrow {
                width: 10%;
                font-size: 4rem;
                color: white;
                display: flex;
                align-items: center;
                z-index: 10;

                svg {
                    cursor: pointer;
                }
            }
        }

        .dots-container {
            display: flex;
            justify-content: center;
            color: white;
            font-size: 3rem;

            div {
                cursor: pointer;
                margin: 0 .5rem;
            }
        }
    }
}

@media (max-width: 769px) {
    .Carrousel-container {
        .image-container {
            display: flex;
            justify-content: space-between;
            height: 150px;

            .image {
                padding: 0 1rem;
            }

        }
    }
}