.Bilan {
    width: 100%;
    color: white;

    &-Qualiopi {
        width: 100%;

        img {
            width: 25%;
            object-fit: contain;

        }

        h3 {
            color: var(--acYellow);
            font-size: 1.1rem;
            line-height: 1.5rem;
        }

        div {
            display: flex;
            flex-direction: column-reverse;
        }
    }

    &-article {

        &-title {
            color: var(--acYellow);
        }

        p {
            text-align: start;
            padding: 0 1rem;
        }

        &_bgWhite {
            background-color: white;
            padding: 1rem 0;

            .experience {
                width: 75%;
                background-color: var(--acDarkBlue);
                color: white;
                padding: 2rem;
                border-radius: 15px;
                // border: solid 2px var(--acYellow);
            }

            .graph {
                width: 100%;

                // .projectAnalyse {
                //     display: none;
                // }

                h4 {
                    margin-bottom: 0;
                    color: var(--acDarkBlue);
                }

                img {
                    width: 100%;
                }
            }

            &.black {
                display: flex;
                flex-direction: column;
                align-items: center;
                color: black;
                padding: 1rem;
                margin-bottom: 2rem;

                p {
                    margin: .5rem;
                }

                .Yellow {
                    // color: var(--acDarkBlue);
                    font-weight: bold;

                    &.nbr {
                        font-size: 2rem;
                        margin: 0;
                    }
                }
            }

        }

        &_blue {
            color: var(--acDarkBlue);
            font-size: 1.5rem;
            padding: 0 1rem;
            font-weight: bold;
        }

        &_black {
            font-size: 1.5rem;

        }

        &-list {

            &-header {
                margin-bottom: 2rem;
                padding: 0 1rem;
                font-weight: bold;

                ul {
                    list-style-type: '-';
                    padding: 0;
                    font-weight: initial;
                    margin-top: 1rem;

                    li {
                        padding-left: .2rem;
                        text-align: start;
                    }
                }
            }
        }

        &-doc {
            color: var(--acYellow);
            font-weight: bold;
            margin: 0 1rem;
            font-size: .9rem;
            text-align: initial;
            padding-bottom: 1rem;
        }
    }
}

@media (min-width: 760px) {
    .Bilan {
        &-Qualiopi {
            display: flex;

            img {
                padding: 0 5rem;
                width: 15%;
            }

            div {
                width: 50%;
                padding-left: 3rem;
                flex-direction: column;
                justify-content: space-between;
                text-align: start;
            }
        }

        &-article {
            p {
                text-align: start;
                padding: 0 5rem;
            }

            &_bgWhite {

                button {
                    width: 25%;
                    margin-right: 2rem;
                }

                .allGraph {
                    display: flex;
                    flex-direction: row;
                    justify-content: space-evenly;

                    .roundedGraph,
                    .afterBilan {
                        width: 40%;
                    }

                }

                .graph .projectAnalyse {
                    display: flex;
                    flex-direction: column;
                }

                .experience {
                    width: 25%;
                    margin: 2rem;
                }
            }

            &.contenu {
                display: flex;
                flex-direction: column;
                align-items: center;
            }

            &-list {
                width: 75%;
                display: flex;
                justify-content: space-evenly;
                padding: 0;

                ul {
                    padding: 0;
                }

                &-header {
                    width: 25%;
                    text-align: start;
                }
            }

            &-doc {
                line-height: 2rem;
            }
        }
    }
}