@mixin circle-styles($size, $background-color, $top: 0) {
    width: $size;
    height: $size;
    background-color: $background-color;
    border-radius: 50%;
    position: absolute;
    top: $top;
    transition: transform 0.5s ease;
}

@mixin line-styles($width, $background-color, $rotation, $top) {
    width: $width;
    background-color: $background-color;
    rotate: $rotation;
    top: $top;
    position: relative;
}

.bct {
    color: var(--acWhite);

    .container {
        position: relative;

        // height: 100%;

        &-head {
            position: relative;
            top: -1rem;
            // left: 0;
            z-index: 2;
            text-align: start;

            h1 {
                font-size: 2rem;
                margin: 0;
                width: 80%;
                padding: 0 1rem;

            }

            h2 {
                padding: 0 1rem;
                text-transform: uppercase;
            }

            span {
                color: var(--acYellow);
            }
        }

        &-img {
            .Tree {
                position: absolute;
                left: 0;
            }

            .FlagCPF {
                position: absolute;
                right: 0px;
                bottom: 0px;
                width: 30%;
            }

            img {
                width: 100%;
            }
        }
    }

    &-pres {
        font-weight: bold;
        margin: 1rem;
    }

    .Success-container {
        width: 100%;
        position: relative;

        p {
            font-size: .6rem;
            font-weight: bold;
            width: 35%;
            height: 55%;
            position: absolute;
            right: 28.5%;
            top: 5%;
            background-color: var(--acDarkBlue);
            border-radius: 50%;
            display: flex;
            justify-content: center;
            align-items: center;
            margin: .5rem;
            padding: .5rem;
        }

        img {
            width: 50%;
        }
    }

    .training-path {
        margin: 0 1rem;
        position: relative;

        .description-picContainer {
            display: flex;
            width: 100%;

            .text {
                font-size: .6rem;

                p {
                    margin: 0 .5rem;
                    font-weight: bold;
                }

                .Yellow {
                    color: var(--acYellow);

                    &.medium {
                        font-size: 1rem;
                    }
                }
            }

            img {
                object-fit: cover;
                width: 30%;
                border-radius: 5px;
            }
        }

    }

    .training-step {

        .step {
            background: linear-gradient(#000000, #006185);

            // border-bottom: solid 3px var(--acYellow);
            h3 {

                padding: 1rem;
            }

            ol {
                margin-left: 1rem;

                li {
                    text-align: center;
                    margin-bottom: 1rem;

                    &::marker {
                        font-weight: bold;
                        font-size: 1.5rem;
                    }
                }

            }
        }

        .step-after {
            background: linear-gradient(#006185, #a6a6a6);
            padding: 1rem;

            h3 {
                color: var(--acWhite);
                font-size: 1.7rem;
            }

            p {

                &.Darkblue {
                    font-size: 1.5rem;
                    font-weight: bold;
                    color: #006185;
                }
            }

        }
    }

    .whoCanDo,
    .howPay {
        padding: 0 1rem;

        .picContainer {
            width: 100%;

            img {
                width: 100%;
            }
        }
    }

    .trainYourself {
        padding: 0 1rem;
        display: flex;
        flex-direction: column;
        align-items: center;

        .allText {
            margin: 1rem;
            position: relative;
            display: flex;
            flex-direction: column;
            align-items: center;
            color: #006185;
            width: 200px;
            height: 200px;
            vertical-align: middle;
            background-color: white;
            border-radius: 50%;
            // border: 3px dotted white;
            // justify-content: flex-end;

            .mainText {
                width: 70%;
            }

            .circleDot {
                position: absolute;
                top: 0;
                rotate: -40deg;
            }

            // border-image: radial-gradient(circle, white 10%, transparent 10%) 1;

            /* Utilisation de la bordure pointillée */
        }


    }

}

@media (min-width: 760px) {

    .bct {
        .container {
            &-head {
                h1 {
                    font-size: 5rem;
                }

                h2 {
                    font-size: 3rem;
                }
            }

            &-img {
                .FlagCPF {
                    width: 35%;
                }
            }
        }

        &-pres {
            font-size: 1.5rem;
            width: 70%;
            text-align: start;
            padding-left: 3rem;
            margin: 0;
        }

        &-description {

            display: flex;
            align-items: center;
            justify-content: space-between;
        }

        .Success-container {
            width: 60%;
            // height: 100%;

            p {
                font-size: .9rem;
                width: 35%;
                height: 60%;
                right: 30%;
                top: 5%;
            }

            img {
                width: 45%;
            }
        }

        .training-path {
            display: flex;
            width: 100%;
            justify-content: flex-end;
            position: relative;

            .description {
                h2 {
                    font-size: 2rem;
                    text-align: center;
                }


                width: 60%;
                font-size: 1.5rem;
                padding: 0 2rem;
                text-align: justify;

            }
        }

        .yellow-circle {
            @include circle-styles(200px, var(--acYellow));
        }

        .white-circle {
            @include circle-styles(75px, white, 25%);
        }

        .yellow-line {
            @include line-styles(5px, var(--acYellow), -7deg, -100px);
        }

    }

}