.Header {
    height: 30vh;
    width: 100%;
    display: flex;
    /*  align-items: flex-end;
    margin-top: 4rem;*/
    flex-direction: column;
    position: relative;
    background-color: white;
    /* padding: 0 1rem; */
}

.Logos {
    display: flex;
    align-items: stretch;
    width: 100%;
    height: 40%;
    justify-content: space-between;
    position: relative;
    top: 1rem;
    /* position: absolute; */
    z-index: 1;
    /* padding-top: 1rem; */
}

.LogoContainer {
    margin: 0 2rem;
    max-width: 100%;
    max-height: 100%;
}

.LogoLeft {
    height: 100%;
}

.LogoRight {
    height: 150%;
}


.Logos p {
    width: 35%;
    font-size: 1.5rem;
    text-transform: uppercase;
    color: var(--acDarkBlue);
    font-weight: 500;
    display: flex;
    align-items: center;
}

.PictureFont {
    transform: scaleX(-1);
    height: 45%;
}

.PictureFont img {
    /* margin-top: 18vh; */
    /* height: 25vh; */
    height: 100%;
    width: 100%;
}

.NavBar {
    width: 100%;
    background-color: var(--acYellow);
    height: 15%;
    display: flex;
    align-items: center;
}

.NavBar ul {
    padding: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    list-style-type: none;
    font-size: 1rem;
}

.NavBar ul li {
    width: 100%;

}

.NavLink a {
    color: var(--acDarkBlue);
    font-weight: 500;
    /* margin: 0 2rem; */

}

@media (max-width: 850px) {
    .Logos {
        height: 30%;
    }

    .PictureFont {
        height: 55%;
    }

    .Logos p {
        font-size: 1rem;
        display: flex;
        align-items: center;
    }

    .NavBar ul {
        font-size: .8rem;
    }
}

@media (max-width: 650px) {
    .Logos {
        height: 25%;
    }

    .PictureFont {
        height: 65%;
    }

    .Logos p {
        font-size: .8rem;
    }

    .NavBar ul {
        font-size: .5rem;
    }
}