header {
    /* height: 200px; */
    position: relative;
    display: flex;
    flex-direction: column-reverse;
}

.PictureFont {
    width: 100%;
    height: 200px;
}

.Bandeau {
    width: 100%;
    height: 100%;
    left: 0;
    transform: scaleX(-1);
}

.HeaderText {
    margin: 1rem 0;
    position: absolute;
    bottom: 25%;
    width: 100%;
    color: var(--acWhite);
    font-weight: bold;
    font-size: calc(2rem + 0.390625vw);
    text-transform: uppercase;

}

.Logos {
    z-index: 1;
    position: absolute;
    top: 0;
    margin-top: .2rem;
    width: 100%;
    display: flex;
    justify-content: space-between;
    height: 5rem;
}

.Logos .LogoContainerAc,
.Logos .LogoContainerSun {
    width: 30%;

    img {
        height: auto;
    }
}

.LogoAc {
    width: 14%;
}

.LogoSun {
    width: 35%;
}

@media screen and (max-width:2420px) {
    .LogoAc {
        width: 20%;
    }
}

@media screen and (max-width:1750px) {
    .LogoAc {
        width: 25%;
    }

    .LogoSun {
        width: 55%;
    }
}

@media screen and (max-width:1024px) {


    header {
        /* height: 200px; */
        /* position: relative; */
        display: flex;
        flex-direction: column-reverse;
    }

    .PictureFont {
        width: 100%;
        height: 200px;
    }

    .Bandeau {
        width: 100%;
        height: 100%;
        left: 0;
        transform: scaleX(-1);
    }

    .HeaderText {
        margin: 1rem 0;
        position: absolute;
        bottom: 25%;
        width: 100%;
        color: var(--acWhite);
        font-weight: bold;
        font-size: 1.5rem;

    }

    .Logos {
        z-index: 1;
        position: absolute;
        top: 0;
        width: 50%;
        margin-top: .2rem;
        width: 100%;
        display: flex;
        justify-content: space-between;
    }

    .Logos .LogoContainerAc,
    .Logos .LogoContainerSun {
        width: 30%;
    }

    .LogoAc {
        width: 38%;
    }

    .LogoSun {
        width: 65%;
    }
}

@media screen and (max-width:769px) {

    header {
        /* height: 200px; */
        /* position: relative; */
        display: flex;
        flex-direction: column-reverse;
    }

    .PictureFont {
        width: 100%;
        height: 200px;
    }

    .Bandeau {
        width: 100%;
        height: 100%;
        left: 0;
        transform: scaleX(-1);
    }

    .HeaderText {
        margin: 1rem 0;
        position: absolute;
        width: 100%;
        color: var(--acWhite);
        font-weight: bold;

    }

    .Logos {
        z-index: 1;
        position: absolute;
        top: 0;
        width: 50%;
        margin-top: .2rem;
        width: 100%;
        display: flex;
        justify-content: space-between;
    }

    .Logos .LogoContainerAc,
    .Logos .LogoContainerSun {
        width: 30%;
    }

    .LogoAc {
        width: 52%;
    }

    .LogoSun {
        width: 90%;
    }

}

@media screen and (max-width:500px) {
    header {
        height: 200px;
        /* position: relative; */
        display: flex;
        flex-direction: column;


    }

    .PictureFont {
        width: 100%;
        height: 150px;
    }

    .Bandeau {
        width: 100%;
        height: 100%;
        left: 0;
    }

    .HeaderText {
        margin: 1rem 0;
        position: absolute;
        bottom: 0;
        width: 100%;
        color: var(--acWhite);
        font-size: 1rem;

    }

    .Logos {
        z-index: 1;
        position: absolute;
        top: 0;
        width: 50%;

        margin-left: 1rem;
        margin-top: .5rem;
    }

    .Logos .LogoContainerAc {
        width: 30%;
    }

    .LogoAc {
        width: 200%;
    }

    .LogoSun {
        display: none;
    }

    /* .PictureFont img {
        width: 100%;
        transform: scaleX(-1);
        position: relative;
        bottom: 0;
        object-fit: cover;

    } */


    /* 
    header p {
        position: absolute;
        width: 100%;
        bottom: 0;
        font-size: .8rem;
        color: var(--acDarkBlue);
        font-weight: bold;
        z-index: -1;
    }

    .PictureFont {
        width: 100%;
        height: 100%;
        position: relative;
        bottom: 30%;
        z-index: -1;
    }

    .PictureFont img {
        display: none;
    }

    .LogoContainerAc {
        z-index: -1;
        width: 100%;
        position: absolute;
        top: 0;
    }

    .LogoLeft {
        width: 10%;
        display: flex;
        padding: 0.9rem;
    }

    .LogoContainerSun {
        display: none;
    } */

}