header {
    /* height: 200px; */
    position: relative;
    display: flex;
    flex-direction: column;
}

.headerContact {
    position: absolute;
    z-index: 10;
    width: 100%;
    // bottom: 30%;
    top: 15%;
    // right: 0%;
    right: auto;
    left: auto;
    // left: 3%;

    .ContactButton {
        // margin-Left: 30%;
        // margin-right: 30%;
        // width: 40%;
        font-size: .8rem;
        background-color: white;
        color: var(--acDarkBlue);
        box-shadow: none;
        border-color: white;
    }
}

.PictureFont {
    width: 100%;
    height: 200px;
}

.Bandeau {
    width: 100%;
    height: 100%;
    left: 0;
    transform: scaleX(-1);
}

.HeaderText {
    margin: 1rem 0;
    position: absolute;
    bottom: 25%;
    width: 75%;
    left: 50%;
    transform: translateX(-50%);
    color: var(--acWhite);
    font-weight: bold;
    font-size: calc(1.5rem + 0.390625vw);
    text-transform: uppercase;

}

.Logos {
    z-index: 1;
    position: absolute;
    bottom: 15%;
    margin-top: .2rem;
    width: 100%;
    display: flex;
    justify-content: space-between;
    height: 5rem;
}

.Logos .LogoContainerAc,
.Logos .LogoContainerSun {
    width: 30%;

    img {
        height: auto;
    }
}

.LogoAc {
    width: 20vw;
    position: relative;
    top: 10%;
}

@media screen and (min-width:669px) {
    .HeaderText {
        bottom: 0%;
    }

    .Logos .LogoContainerAc {
        width: 25%;

        .LogoAc {
            top: -20%;
            // left: 0%;
        }
    }
}

@media screen and (min-width:769px) {
    .HeaderText {
        width: 50%;
        // bottom: 0%;
    }

    .Logos .LogoContainerAc {
        // width: 30%;

        .LogoAc {
            top: -70%;
            // left: 0%;
        }
    }
}

@media screen and (min-width:1025px) {
    header {
        flex-direction: column-reverse;
    }

    .Logos {

        bottom: 50%;

        .LogoContainerAc {
            width: 20%;

            .LogoAc {
                top: -75%;
                width: 15rem;
            }
        }
    }
}