.Footer {
    .ReviewPad {
        display: none;
    }

    background-color: white;


    width: 100%;
    position: relative;
    bottom: 0;

    .FooterLogoContainer {
        width: 100%;
        display: flex;
        // flex-direction: column;
        justify-content: space-evenly;
        background-color: white;
        align-items: center;



        div {
            // width: 100%;

            img {
                display: flex;
                object-fit: contain;
                width: 100%;
                height: 100%;

                z-index: 2;
            }
        }

        .LogoContainer {
            display: flex;
        }


    }

    .Handi {
        display: flex;
        flex-direction: column;
        // position: absolute;
        // bottom: 0;
        z-index: 2;
        width: 100%;
        align-items: center;



        .handicap-picture {
            width: 10%;
            height: auto;
        }
    }

    .FooterPictureFont {
        width: 100%;
        transform: scaleX(-1);

        img {
            width: 100%;
            height: auto;
        }

        &-mention {
            position: absolute;
            bottom: 0;
            width: 100%;
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            background-color: var(--acDarkBlue);
            transform: scaleX(-1);

            .Single-Link {
                a {
                    font-size: .5rem;

                }
            }


            .builderRef {
                color: white;

                p {
                    margin: 0;
                    font-size: .51rem;
                    margin: .15rem 0;

                    a {
                        font-size: .51rem;
                        font-weight: bold;
                        text-decoration: underline;
                    }
                }
            }

            ul li {

                list-style-type: none;
                color: red;
            }

            a {
                margin-bottom: .5rem;
                color: white;
                font-size: .7rem;
                text-decoration: none;

                :visited {
                    color: red;
                }
            }
        }
    }

    // .Map {
    //     display: none;

    // }
    .City_Link {
        ul {
            list-style-type: none;
            display: flex;
            flex-direction: column;
            padding: 0;
        }

        a {
            text-decoration: none;
            color: var(--acDarkBlue);

        }

        li:hover {

            margin: 0 .5rem;
            background-color: var(--acDarkBlue);

            a:hover {
                color: white;
                // text-decoration: underline
            }
        }
    }
}

.QualContainer-Data {
    font-size: .5rem;
    // font-weight: bold;
    margin: 0;
}



@media screen and (min-width:768px) {
    .Footer {
        .ReviewPad {
            display: block;
        }

        .FooterLogoContainer {
            width: 45%;
            position: absolute;
            z-index: 1;
            background-color: transparent;
            bottom: 65%;

        }

        .FooterPictureFont {
            position: relative;

            &-mention {
                transform: scalex(-1);
                flex-direction: row;
                align-items: flex-end;
                padding-bottom: 1rem;
                background-color: transparent;

                .handicap-picture {
                    width: 10%;
                }

                ul li {
                    list-style-type: none;
                }

                div {
                    width: 25%;
                }

                .Handi .Single-Link {
                    width: 100%;
                }

                .Single-Link a {

                    font-size: .75rem;
                }

                .builderRef {
                    color: white;

                    p {
                        margin: 0;
                        font-size: .75rem;

                        a {
                            font-size: .8rem;
                            font-weight: bold;
                            text-decoration: underline;
                        }
                    }
                }
            }
        }

        .City_Link {
            width: 30%;
            position: absolute;
            top: 0;
            right: 10%;
            z-index: 5;
        }
    }

    .LogoContainer {
        justify-content: space-between;

        .CpfContainer,
        .QualioContainer,
        .CharteContainer {
            width: 20%;
        }
    }

    .QualContainer {
        width: 100%;

        &-Pic {
            width: 20%;
            object-fit: contain;
            height: auto;
        }

        &-Data {
            font-size: .6rem;
            font-weight: bold;
            margin: 0;
        }
    }


}

@media screen and (min-width: 992px) {
    // .GoogleRate {
    //     position: absolute;
    //     bottom: 10px;
    //     left: 15rem;
    //     box-shadow: 0 0 5px 0px black;
    // }


    .Footer .ReviewPad {
        display: none;
    }

    .Footer .Map {
        // height: 100%;
        width: 30%;
        height: 75%;
        // display: initial;
        // position: absolute;
        // top: 0;
        // z-index: 1;
        // right: 10%;

        h2 {
            margin-bottom: 1rem;
        }

        iframe {
            width: 100%;
            height: 100%;
            // height: fit-content;
            // border-radius: 15px;
        }
    }
}